.portfolio-container h2 {
    font-size: 3rem;
    /* font-size: 2.4rem; */
    font-family: "Protest Riot";
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #16202fdb;
}

.portfolio {
    width: 100%;
    height: 100%;
    /* background: no-repeat url("../../assets/Bg/shiny.svg"); */
    background-size: cover;
}

.portfolio-images-wrapper img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 0.4rem;
}


@media screen and (max-width: 991px) {
    .portfolio-container {
        margin-top: 70px;
    }
}

@media screen and (max-width: 400px) {
    .portfolio-container {
        margin-top: 50px;
    }
}