.portfolio{
    margin-top: 70px;
}

.portfolio-banner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.portfolio-banner img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: top center;
}

.portfolio-banner-content::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    content: '';
    background-image: linear-gradient(to bottom,
            rgba(14, 14, 14, 0.175),
            rgba(0, 0, 0, 0.816));
}

.portfolio-banner-content {
    width: 100%;
    height: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-banner-content h4 {
    font-size: 2vw;
}

.portfolio-banner-content h1 {
    font-size: 9vw;
}

.portfolio-banner-content h1,
.portfolio-banner-content h4 {
    margin: 0.5rem 0;
    z-index: 2;
    font-family: "Poppins";
    color: rgba(245, 245, 245, 0.685);
}

.portfolio-banner-content.animate__fadeIn{
    animation: fadeIn 1.5s;
}

.portfolio-banner img.animate__fadeIn {
    animation: fadeIn 0.8s;
}

.portfolio-images-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 0.4rem;
}

.portfolio-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-content h3 {
    font-weight: 600;
    font-size: 2.8rem;
    font-family: "Yanone Kaffeesatz";
    letter-spacing: 0.5px;
    color: #16202fdb;
    margin-top: 1.5rem;
    position: relative;
    align-items: center;
}

.portfolio-content h3::before {
    content: "";
    height: 5px;
    border-radius: 5px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: gold;
}

.portfolio-container2{
    width: 100%;
    padding: 0 2rem;
}

.portfolio-content p {
    font-size: 1.1rem;
    color: #7a7a7a;
    text-align: center;
    margin: 1.5rem 0;
}

@media screen and (max-width: 1024px) {
    .portfolio-container2{
        padding: 0;
    }

    .portfolio-banner img {
        height: max(200px, 50vh);
    }

    .portfolio-banner-content h1{
        font-size: max(3.5rem, 11vw);
    }

    .portfolio-banner-content h4{
        font-size: max(1.5rem, 4vw);
    }
}

@media screen and (max-width: 400px) {
    .portfolio{
        margin-top: 60px;
    }

    .portfolio-content h3{
        font-size: 2.5rem;
    }

    .portfolio-content p{
        font-size: 1rem;
    }
}