.story-card-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    position: relative;
}


.story-card-content-image{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.334);
}

.story-card-content-image img{
    width: 100%;
    border-radius: 30px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.story-card-overlay{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.226) , rgba(0, 0, 0, 0.79));
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
}

.story-card-content-image:hover .story-card-overlay{
    opacity: 1;
}

.story-card-content-image:hover img{
    transform: scale(1.05);
}

.story-card-content-image:hover .story-card-content-title h5{
    color: gold;
}

.story-card-content-title{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-family: "Kalam";
    z-index: 2;
}

.story-card-content-title h5{
    font-size: 1.8rem;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px){
    .story-card-content-title h5{
        font-size: 1.6rem;
    }
}
