.about {
    margin-top: 70px;
}

.about-banner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.about-banner img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center center;
}

.about-banner-content::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    content: '';
    background-image: linear-gradient(to bottom,
            rgba(14, 14, 14, 0.175),
            rgba(0, 0, 0, 0.816));
}

.about-banner-content {
    width: 100%;
    height: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-banner-content h4 {
    font-size: 2vw;
}

.about-banner-content h1 {
    font-size: 9vw;
}

.about-banner-content h1,
.about-banner-content h4 {
    margin: 0.5rem 0;
    z-index: 2;
    font-family: "Poppins";
    color: rgba(245, 245, 245, 0.816);
}

.about-banner-content.animate__fadeIn {
    animation: fadeIn 1.5s;
}

.about-banner img.animate__fadeIn {
    animation: fadeIn 0.8s;
}

.about-images-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 0.4rem;
}

.about-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content h3 {
    font-weight: 600;
    font-size: 2.8rem;
    font-family: "Yanone Kaffeesatz";
    letter-spacing: 0.5px;
    color: #16202fdb;
    margin-top: 2rem;
    position: relative;
    align-items: center;
}

.about-content h3::before {
    content: "";
    height: 5px;
    border-radius: 5px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: gold;
}

.about-content p {
    font-size: 1.1rem;
    color: #7a7a7a;
    text-align: center;
    margin: 1rem 0 2rem 0;
}


.about-info-section{
    margin: 4rem 0;
}

.about-info-section-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center calc(50% + 90px);
    aspect-ratio: 4/3;
    transform: rotate(-6deg);
}

.about-info-section-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3rem;
}

.about-info-section-content h3{
    font-weight: 600;
    font-size: 2.4rem;
    font-family: "Yanone Kaffeesatz";
    letter-spacing: 0.5px;
    color: #16202fdb;
    padding: 0.3rem 0;
    margin-bottom: 1.5rem;
    position: relative;
}

.about-info-section-content h3::before {
    content: "";
    height: 5px;
    border-radius: 5px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: gold;
}

.about-info-section-content-desc p{
    font-size: 1.1rem;
    color: #7a7a7a;
    margin-bottom: 0.6rem;
}


.about-box {
    margin-top: 2rem;
    background-color: #FFBF00;
    padding: 2rem 0;
}

.about-box-wrapper {
    justify-content: center;
    align-items: center;
}

.about-box-wrapper-contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.about-box-wrapper-contacts h3 {
    font-size: 2.5rem;
    font-family: "Protest Riot";
    text-align: center;
    color: #253529;
    font-weight: bold;
}

.about-box-wrapper-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.about-box-wrapper-content::before {
    width: 5px;
    border-radius: 8px;
    height: 100%;
    position: absolute;
    content: "";
    background-color: #253529;
    top: 0;
    left: -10px;
}

.about-box-wrapper-content p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #253529;
}

.about-box-wrapper-content button {
    font-size: 1.3rem;
    color: gold;
    background-color: #253529;
    border-radius: 15px;
}

@media screen and (max-width: 1024px) {
    .about-banner img {
        height: max(200px, 50vh);
    }

    .about-banner-content h1 {
        font-size: max(3.5rem, 11vw);
    }

    .about-banner-content h4 {
        font-size: max(1.4rem, 4vw);
    }
}

@media screen and (max-width: 991px){
    .about-info-container{
        max-width: none;
        width: 100%;
    }

    .about-info-section{
        align-items: center;
        flex-direction: column;
        margin: 2rem 0;
        margin-bottom: 0;
    }

    .about-info-section-img{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about-info-section-img img{
        width: 80%;
    }

    .about-info-section-content{
        margin-top: 2rem;
        width: 70%;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 767px) {
    .about-box-wrapper-content {
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .about-box-wrapper-content::before {
        width: 50%;
        height: 5px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }


    .about-box-wrapper-content p {
        font-size: 1.1rem;
    }

    .about-box-wrapper-content button {
        font-size: 1.2rem;
    }

    .about-box-wrapper-contacts h3 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 556px){
    .about-info-section-content{
        width: 100%;
    }

    .about-info-section-content-desc p{
        font-size: 1rem;
        color: #7a7a7a;
    }

    .about-info-section-content h3{
        font-size: 2.1rem;
    }

    .about-info-section{
        margin: 1rem 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .about {
        margin-top: 60px;
    }

    .about-content h3{
        font-size: 2.5rem;
    }

    .about-content p{
        font-size: 1rem;
    }
}