.home{
    margin-top: 70px;
}

.home-banner {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}


.home-banner-vid {
    width: 100%;
    height: 90vh;
    background-image: url('./fallback.jpg');
    background: center no-repeat cover;
    object-fit: cover;
    pointer-events: none;
}

.home-banner-content::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* transition: all 0.5s ease-in-out; */
    content: '';
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 255, 0),
            rgba(0, 0, 0, 0.551));
}

.home-banner-content {
    width: 100%;
    height: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-banner-content h4 {
    font-size: 2vw;
}

.home-banner-content h1 {
    font-size: 9vw;
}

.home-banner-content h1,
.home-banner-content h4{
    margin: 0.5rem 0;
    z-index: 2;
    font-family: "Poppins";
    color: whitesmoke;
}

.animate__fadeIn{
    animation: fadeIn 5s;
}

.home-banner-bg {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-banner-content button {
    z-index: 2;
    margin: 0.8rem 0;
    background-color: transparent;
    padding: 1rem 2.2rem;
    font-size: 1.2rem;
    border: 3px solid white;
    border-radius: 40px;
}

.home-hero-section{
    margin: 4rem 0;
}

.home-hero-section-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 4/3;
    transform: rotate(-6deg);
}

.home-hero-section-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3rem;
}

.home-hero-section-content h3{
    font-weight: 600;
    font-size: 2.4rem;
    font-family: "Yanone Kaffeesatz";
    letter-spacing: 0.5px;
    color: #16202fdb;
    padding: 0.3rem 0;
    margin-bottom: 1.5rem;
    position: relative;
}

.home-hero-section-content h3::before {
    content: "";
    height: 5px;
    border-radius: 5px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: gold;
}

.home-hero-section-content-desc p{
    font-size: 1.1rem;
    color: #7a7a7a;
}


.home-box {
    margin-top: 2rem;
    /* background-image: url('../../assets/Bg/shiny.svg'); */
    background-color: #ffbf00;
    padding: 2rem 0;
}

.home-box-wrapper {
    justify-content: center;
    align-items: center;
}

.home-box-wrapper-contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.home-box-wrapper-contacts h3 {
    font-size: 2.5rem;
    font-family: "Protest Riot";
    color: #253529;
    font-weight: bold;
}

.home-box-wrapper-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.home-box-wrapper-content::before {
    width: 5px;
    border-radius: 8px;
    height: 100%;
    position: absolute;
    content: "";
    background-color: #253529;
    top: 0;
    left: -10px;
}

.home-box-wrapper-content p {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #253529;
}

.home-box-wrapper-content button {
    font-size: 1.3rem;
    color: gold;
    background-color: #253529;
    border-radius: 15px;
}


@media screen and (max-width: 1024px) {
    .home-banner-vid,
    .home-banner {
        height: 50vh;
    }

    .home-banner-content button{
        padding: 0.6rem 1.5rem;
        font-size: 1rem;
    }

    .home-banner-content h1{
        font-size: max(2.2rem, 9vw);
    }

    .home-banner-content h4{
        font-size: max(1rem, 2vw);
    }

    .home-hero-container{
        max-width: none;
        width: 100%;
    }

    .home-hero-section{
        align-items: center;
        flex-direction: column;
        margin: 2rem 0;
        margin-bottom: 0;
    }

    .home-hero-section-img{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .home-hero-section-img img{
        width: 80%;
    }

    .home-hero-section-content{
        margin-top: 2rem;
        width: 70%;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 767px) {
    .home-box-wrapper-content {
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .home-box-wrapper-content::before {
        width: 50%;
        height: 5px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }


    .home-box-wrapper-content p {
        font-size: 1.1rem;
    }

    .home-box-wrapper-content button {
        font-size: 1.2rem;
    }

    .home-box-wrapper-contacts h3 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 556px){
    .home-hero-section-content{
        width: 100%;
    }

    .home-hero-section-content-desc p{
        font-size: 1rem;
        color: #7a7a7a;
    }

    .home-hero-section-content h3{
        font-size: 2.1rem;
    }

    .home-hero-section{
        margin: 1rem 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .home{
        margin-top: 60px;
    }
}