.site-navbar{
    background-color: #121212;
}

.site-navbar-logo{
    width: 15%;
    /* background-color: blue; */
}


.site-navbar-logo img{
    width: 80px;
    height: 60px;
    outline: none;
}

.site-navbar-section{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: brown; */
}

.site-navbar-section-links{
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: red; */
}

.site-navbar-section-links a{
    outline: none;
    font-size: 19px;
    letter-spacing: 0.25px;
    list-style: none;
    color: white;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    /* background-color: blue; */
    padding: 1.3rem 1rem;
    position: relative;
}


.navbar-light .navbar-nav .nav-link.active{
    color: gold;
}

.site-navbar-section-links .active,
.site-navbar-section-links a:hover,
.site-navbar-section-links a:focus{
    color: gold;
}

.site-navbar-section-links a::before{
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    background-color: gold;
    height: 4px;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

.site-navbar-section-links a:hover::before,
.site-navbar-section-links a:focus::before{
    opacity: 1;
}

.site-navbar-section-icons{
    width: 10%;
    background-color: green;
}

.navbar-light .navbar-toggler{
    color: white;
    font-size: 1.6rem;
    border-radius: 0;
    outline: none;
    border: none;
}

.navbar-light .navbar-toggler:focus{
    box-shadow: none;
    text-decoration: none;
}

.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus{
    border: 2px solid palevioletred;
    border-radius: 8px;
}

