.navbar {
    background-color: #121212;
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    width: auto;
    height: 70px;
    padding: 0.6rem 0.5rem;
    outline: none;
}

.navbar-collapse {
    width: 100%;
    justify-content: end;
    align-items: center;
}


.navbar-nav .nav-link {
    outline: none;
    font-size: 19px;
    letter-spacing: 0.25px;
    color: white;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    position: relative;
    padding: 1.3rem 0;
    margin-right: 0.3rem;
}

.navbar-nav:first-child {
    margin-right: 1.6rem;
}


.navbar-light .navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: gold;
}


.navbar-nav .nav-link::before {
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    background-color: gold;
    height: 4px;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link:focus::before {
    opacity: 1;
}


.navbar-light .navbar-toggler {
    color: white;
    font-size: 1.6rem;
    border-radius: 0;
    outline: none;
    border: none;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: none;
    text-decoration: none;
}

.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus {
    border: 2px solid palevioletred;
    border-radius: 8px;
}

.nav-links-icon {
    width: 36px;
    height: 36px;
    background: rgba(170, 165, 165, 0.87);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.nav-links-icon img {
    width: 60%;
    transition: all 0.3s ease-in-out;
}

.nav-links-icon::before {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
}

.nav-links-icon:hover::before {
    transform: scale(1);
}

.nav-links-icon:hover img {
    filter: brightness(0) invert(1);
}

.nav-links-icon:first-child::before {
    background-color: red;
}

.nav-links-icon:nth-child(2)::before {
    background-color: #25D366;
}

.nav-links-icon:nth-child(3)::before {
    background-image: linear-gradient(to right bottom, #405DE6, #E1306C, #C13584);
}

.nav-links-icon:last-child::before {
    background-color: #4267B2;
}


@media screen and (max-width: 991px) {
    .navbar-container {
        width: 100%;
        max-width: none;
        z-index: 2;
        position: fixed;
        top: 0;
        padding: 0;
        background-color: #121212;
    }

    .navbar-brand,
    .navbar-toggler {
        margin: 0 1rem;
    }

    .navbar-toggler {
        z-index: 5;
    }

    .navbar-collapse {
        padding: 1.5rem 0;
    }

    .navbar-nav .nav-link {
        padding: 0.8rem 2rem;
        margin-right: 0;
    }

    .navbar-nav:first-child {
        margin-right: 0;
    }

    .navbar-nav:nth-child(2) {
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
    }


    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:focus {
        background-color: rgba(255, 217, 0, 0.903);
    }

    .navbar-nav:nth-child(2) .nav-link.active {
        background-color: transparent;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: white;
    }

    .navbar-nav .nav-link::before {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .navbar-brand img {
        width: auto;
        padding: 0.5rem;
        height: 50px;
    }
}