.home-content {
    width: 100%;
    margin: 0.8rem 0;
    padding: 0.5rem 0;
}

.home-content-desc {
    display: flex;
    justify-content: center;
}

.home-content-gallery {
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.home-content-container-desc {
    /* display: flex; */
    text-align: center;
    margin: 1rem;
}

.home-content-container-desc h2 {
    font-weight: 600;
    padding: 0.8rem;
    font-size: 2.4rem;
    position: relative;
    margin-bottom: 1.5rem;
}

.home-content-container-desc h2::before {
    content: "";
    height: 4px;
    border-radius: 5px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: gold;
}

.home-content-container-desc p {
    font-size: 1.1rem;
}

.home-content-films,
.home-content-stories {
    margin-bottom: 2rem;
}

.home-content-films {
    padding: 0 2rem;
}

.home-content-carousel {
    width: 100%;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .home-films-container {
        max-width: none;
        width: 100%;
    }

    .home-content-films {
        padding: 0 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .home-content-container-desc h2 {
        font-size: 1.9rem;
    }

    .home-content-container-desc p {
        font-size: 1rem;
    }

    .home-content-gallery {
        padding: 0 1rem;
    }

    .home-content-films {
        padding: 0 0rem;
    }
}