.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.home,
.stories,
.portfolio,
.missing,
.contact,
.cinematography,
.about {
  display: flex;
  width: 100%;
  flex-grow: 1;
  margin-top: 70px;
  min-height: 100vh;
  flex-direction: column;
}